body {
    background-color: #EEEEEE;
    text-align: center;
	color: #222831;
	font-family: 'Josefin Sans', sans-serif;
}
#container {
	position: relative;
}
img {
	width: 130px;
	height: auto;
	margin: 8px 15px 8px 10px;
	border-radius: 5%;
}
#posterImage img {
	width: 285px;
}
#posterImage{
	position: absolute;
	right: 200px;
}
#movieInfo {
	position: absolute;
	left: 200px;
	width: 450px;
	line-height: 2;
}
img:hover {
	box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.79);
	-webkit-box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.79);
	-moz-box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.79);
}

.genreButton img:hover {
	filter: drop-shadow(0 0 0 0.75rem white);
}
.genreButton img {
	filter: grayscale(100%);
}

#container nav {
	overflow-y: auto;
	display: flex;
	position:fixed;
	bottom: 20px;
	width: 100%;
}

#footerDiv {
	position: fixed;
	bottom: 0;
}